<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <connectionStrings>
        <add name="DESKTOP-5FCB2HT\SQLEXPRESS_QLLaoDong_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-5FCB2HT\SQLEXPRESS;integrated security=SSPI;initial catalog=QLLaoDong" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>